# Local virtual environment
.venv/

# Local package installation
*.egg-info/
dist/

# Python byte code
*.pyc

# mypy
.mypy_cache/

# pytest
.pytest_cache/
.coverage*

# tox
.tox/

# pyenv version file
.python-version

# docs site
site/
