build: false

branches:
  only:
    - master

cache:
  - '%LOCALAPPDATA%\pip\Cache'
  - '%LOCALAPPDATA%\pypoetry\Cache'

environment:
  matrix:
    - PYTHON: "C:/Python27-x64"
    - PYTHON: "C:/Python35-x64"
    - PYTHON: "C:/Python36-x64"
    - PYTHON: "C:/Python37-x64"

init:
  - 'SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%'
  - python --version

install:
  - python -m pip install --upgrade pip
  - curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python
  - 'SET PATH=%USERPROFILE%\.poetry\bin;%PATH%'
  - poetry install

test_script:
  - poetry run pytest tests/ -m "not unix" --cov=jekyllnb
