[tool.poetry]
name = "jekyllnb"
version = "0.1.0"
description = "Convert Jupyter Notebooks to Jekyll-ready Markdown files"
authors = ["Kevin Lane <lane.kevin.a@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/klane/jekyllnb"
keywords = ["jekyll", "jupyter", "nbconvert"]
classifiers = [
    "Framework :: Jupyter",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Text Processing",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "~2.7 || ^3.4"
nbconvert = "^5.4"

[tool.poetry.dev-dependencies]
pytest = "^4.5"
pytest-cov = "^2.7"
pytest-lazy-fixture = "^0.5.2"
pytest-sugar = "^0.9.2"
conditional = "^1.3"
pre-commit = "^1.16"
tox = "^3.12"

[tool.poetry.plugins."console_scripts"]
"jupyter-jekyllnb" = "jekyllnb:JekyllNB.launch_instance"

[tool.poetry.plugins."nbconvert.exporters"]
"jekyll" = "jekyllnb:JekyllExporter"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
