[tool.poetry]
name = "jekyllnb"
version = "0.1.2"
description = "Convert Jupyter Notebooks to Jekyll-ready Markdown files"
authors = ["Kevin Lane <lane.kevin.a@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/klane/jekyllnb"
documentation = "https://jekyllnb.readthedocs.io"
keywords = ["jekyll", "jupyter", "nbconvert"]
classifiers = [
    "Framework :: Jupyter",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Text Processing",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "~2.7 || ^3.4"
nbconvert = "^5.4"

[tool.poetry.dev-dependencies]
pytest = "^4.6"
pytest-cov = "^2.8"
pytest-lazy-fixture = "^0.6.2"
pytest-sugar = "^0.9.2"
conditional = "^1.3"
pre-commit = "^1.18"
tox = "^3.14"

[tool.poetry.plugins."console_scripts"]
"jupyter-jekyllnb" = "jekyllnb:JekyllNB.launch_instance"

[tool.poetry.plugins."nbconvert.exporters"]
"jekyll" = "jekyllnb:JekyllExporter"

[tool.black]
line-length = 88

[tool.isort]
known_third_party = ["conditional", "nbconvert", "pytest", "pytest_lazyfixture", "traitlets"]
line_length = 88
multi_line_output = 3
force_grid_wrap = 0
include_trailing_comma = "True"
use_parentheses = "True"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
skipsdist = true
envlist = py{27,35,36,37,38},lint

[testenv]
skip_install = true
whitelist_externals = poetry
commands =
    poetry install
    poetry run pytest tests/ --cov=jekyllnb {posargs}

[testenv:lint]
deps = pre-commit
commands =
    pre-commit install-hooks
    pre-commit run --all-files

[flake8]
ignore = E203,F401,W503
max-line-length = 88
select = B,C,E,F,W,T4,B9
"""

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
