name: Tests

on: push

jobs:
  Safety:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.2
      - name: Install Safety
        run: pip install safety
      - name: Check dependencies
        run: poetry show -a | sed 's/(!)//' | awk '{print $1,"==",$2}' | safety check --stdin

  Linting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Restore cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-
      - name: Run pre-commit
        uses: pre-commit/action@v1.0.0

  test:
    name: '${{ matrix.os_name }}: Python ${{ matrix.python }}'
    needs: [Safety, Linting]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [2.7, 3.5, 3.6, 3.7]
        include:
          - os: ubuntu-latest
            os_name: Linux
            poetry_cache: ~/.cache/pypoetry
          - os: macos-latest
            os_name: macOS
            poetry_cache: ~/Library/Caches/pypoetry
          - os: windows-latest
            os_name: Windows
            poetry_cache: ~\AppData\Local\pypoetry\Cache
        exclude:
          - os: windows-latest
            python: 2.7

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.2
      - name: Restore cache
        uses: actions/cache@v1
        with:
          path: ${{ matrix.poetry_cache }}
          key: poetry-python${{ matrix.python }}-${{ runner.os }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            poetry-python${{ matrix.python }}-${{ runner.os }}-
      - name: Remove egg link on macOS
        if: startsWith(runner.os, 'macOS')
        run: |
          rm ${{ matrix.poetry_cache }}/virtualenvs/jekyllnb-py${{ matrix.python }}/lib/python${{ matrix.python }}/site-packages/jekyllnb.egg-link
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: poetry run pytest tests/ --cov=jekyllnb
      - name: Generate coverage report
        run: poetry run coverage xml
      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        if: success()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
      - name: Send Slack message on failure
        uses: homoluctus/slatify@master
        if: failure()
        with:
          type: ${{ job.status }}
          job_name: '${{ runner.os }} :snake: ${{ matrix.python }} Tests'
          url: ${{ secrets.SLACK_WEBHOOK }}
          commit: true
          token: ${{ secrets.GITHUB_TOKEN }}

  Slack:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Send Slack message
        uses: homoluctus/slatify@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: ':snake: Tests'
          url: ${{ secrets.SLACK_WEBHOOK }}
          commit: true
          token: ${{ secrets.GITHUB_TOKEN }}
